<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/board/save" method="post" enctype="multipart/form-data">
        <input type="text" name="boardWriter" placeholder="작성자">
        <input type="text" name="boardTitle" placeholder="제목">
        <input type="text" name="boardPassword" placeholder="비밀번호">
        <textarea name="boardContents" placeholder="내용을 입력하세요"></textarea>
        <input type="file" name="boardFile" class="form-control">
        <input type="submit" value="등록">
    </form>
</body>
</html>